@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  color: #0B0B0C;
}
.dark body {
  background-color: #0B0B0C;
  color: #fff;
}
