@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* .dark *, .transition-theme {
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
} */

.dark body{
  background-color: #000;
}

h1,h2,h3,h4,h5,h6,label,button {
  color: #000;
}

.dark h1,h2,h3,h4,h5,h6,label,button {
  color: #fff;
}

p,span, li, a, input {
  color: #0a0a0a;
}

.dark p,span, li, a, input {
  color: #ebebeb;
}
